


<div id="query-card-section">
    {{#each companies as |company|}}

   <div class="section-company-card" style="width: 18rem;">
    <img class="company-card-img-top" src="/images/companyimg.jpg" alt="Card image cap">
    <div class="company-card-body">
      <h3 class="company-card-title">{{company.company}}</h3>
      <h5 class="company-card-text">{{company.email}}</h5>
      <h5 class="company-card-text">{{company.city}}</h5>     
    </div>
  </div>
  {{/each}}
</div>