<!-------------- FORM --------------->
<form id="signup-form"action="">
    <h1 id="form-header" >SIGN UP NOW AND HELP US HELP YOU!</h1>
    
    <!-- first name input -->
    <section id="q2" class="question">
        <label for="first_name">First Name:</label>
        <input type="text" id="first_name" name="first_name" placeholder="First Name">
    </section>

    <!-- Last name input -->
    <section id="q3" class="question">
        <label for="last_name">Last Name:</label>
        <input type="text" id="last_name" name="last_name" placeholder="Last Name">
    </section>
    
    <!-- Company name input For companies searching-->
    <section id="q4" class="question">
        <label for="company">Company Name:</label>
        <input type="text" id="company" name="company" placeholder="Company">
    </section>

    <!-- Email input dont forget to add the check function validate... -->
    <section id="q5" class="question">
        <label for="email">Email:</label>
        <input type="text" id="email" name="email" placeholder="Email">
    </section>

    <!-- password information -->
    <section id="q6" class="question">
        <label for="password">Password:</label>
        <input type="text" id="password" name="password" placeholder="Only letters and numbers">
        <h5 id="notmatching">Passwords do not match. Please try again</h5>
    </section>
    
    <!-- submit button -->
    <input id="submit-btn" type="submit" value="Submit">

</form> 