<!-- start of login-->
    <div class="container-login">
        <div class="login-card">
          <h2>Login</h2>
        </div>
        <form id="login-form" class="login-card-body">
          <div class="logindata">
            <label for="username-input-login">Email</label>
            <input type="text" id="email-login" placeholder="email"/>
          </div>
          <div class="logindata">
            <label for="password-input-login" class="form-label">Password</label>
            <input type="password" id="password-login" placeholder="password"/>
          </div>
          <button type="submit" id="login-btn" class="btn">Login!</button>
          <a id="signup-btn" type="button" href="/signup">Sign up instead</a>
        </form>
      </div>
      <script src=".script.js"></script><!-- Dont forget to change the file path -->
<!--------- login form end ----------->
