<!-------------- FORM --------------->
<form id="signup-form"action="">
    <h1 id="form-header" >SIGN UP NOW AND HELP US HELP YOU!</h1>
    <!-- first name input -->
    <section id="q2" class="question">
        <label for="first_name">First Name:</label>
        <input type="text" id="first_name" name="first_name" placeholder="first name">
    </section>

    <!-- Last name input -->
    <section id="q3" class="question">
        <label for="last_name">Last Name:</label>
        <input type="text" id="last_name" name="last_name" placeholder="last name">
    </section>

    <!-- Email input dont forget to add the check function validate... -->
    <section id="q5" class="question">
        <label for="email">Email:</label>
        <input type="text" id="email" name="email" placeholder="email name">
    </section>

    <!-- password information -->
    <section id="q6" class="question">
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" placeholder="Only letters and numbers">
        <h5 id="notmatching">Passwords do not match. Please try again</h5>
    </section>

    <!-- Profession give the user options-->
    <section id="q9" class="question">
        <p id="selectOne">Choose one from the following professions:</p>
    <!-- AI  -->
    <div>
        <input type="radio" id="ai" name="profession">
    <label for="ai">Artificial Intelligence Engineer</label>
    </div>
    <!-- Web Developer -->
    <div>
        <input type="radio" id="web" name="profession">
    <label for="web">Web Developer</label>
    </div>
    <!-- Data Scientist -->
    <div>
        <input type="radio" id="data" name="profession">
    <label for="data">Data Scientist</label>
    </div>
    <!-- Mobil Application Developer -->
    <div>
        <input type="radio" id="mobil" name="profession">
    <label for="mobil">Mobil Application Developer</label>
    </div>
    <!-- Full Stack Developer -->
    <div>
        <input type="radio" id="full_stack" name="profession">
    <label for="full_stack">Full Stack Developer</label>
    </div>
    </section>

    <section id="q10" class="question">
        <label for="github">Github:</label>
    <input type="text" id="github" name="github" placeholder="https://github.com/">
    </section>

    <section id="q11" class="question">
        <label for="linkedin">LinkedIn:</label>
    <input type="text" id="linkedin" name="linkedin" placeholder="https://linkedin.com/">
    </section>

    <!-- City input -->
    <section id="q12" class="question">
        <label for="city">City:</label>
        <input type="text" id="city" name="city" placeholder="City">
    </section> 

    <!-- submit button -->
    <input id="submit-btn" type="submit" value="Submit">

</form> 